@charset "UTF-8";

body {
	font-family: "Arial", sans-serif;
	background: linear-gradient(#b4f1ff, #c9ffd8);
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background: white;
	padding: 40px 50px;
	border-radius: 10px;
	width: 360px;
	text-align: center;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border: 2px solid #28b8d5;
	position: relative;
}

.title {
	background: #21c1d7;
	color: white;
	font-size: 22px;
	padding: 12px;
	border-radius: 10px 10px 0 0;
	margin-top: -40px;
	margin-bottom: 30px;
}

.profile-group {
	text-align: left;
	margin-bottom: 18px;
}

.profile-group label {
	font-size: 13px;
	color: #666;
	display: block;
	margin-bottom: 6px;
}

.profile-value {
	background: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.btn-group {
	display: flex;
	gap: 10px;
	margin-top: 25px;
}

.btn {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	cursor: pointer;
	color: white;
}

.profile-input {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.btn.edit {
	background: #f39c12;
}

.btn.edit:hover {
	background: #e28900;
}

.btn.back {
	background: #7f8c8d;
}

.btn.back:hover {
	background: #6c7a7a;
}