@charset "UTF-8";

body {
	font-family: 'Noto Sans JP', sans-serif;
	background: linear-gradient(180deg, #9dd9ff, #c2f0d0);
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background: white;
	width: 360px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	text-align: center;
	border: 2px solid #6dc7c3;
}

.title {
	font-size: 28px;
	background: #21c1d7;
	color: white;
	padding: 12px;
	border-radius: 10px 10px 0 0;
	margin-top: -40px;
	margin-bottom: 5px;
	font-weight: 700;
}

.subtitle {
	font-size: 20px;
	margin-bottom: 25px;
	color: #444;
}

.input-group {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0 12px;
	margin-bottom: 15px;
	background: white;
}

.input-group .icon {
	font-size: 18px;
	margin-right: 10px;
	opacity: 0.7;
}

.input-group input {
	border: none;
	outline: none;
	padding: 12px 0;
	font-size: 15px;
	width: 100%;
}

.input-group input:focus {
	outline: none;
	border-color: #00a4a4;
}

.agree {
	text-align: left;
	margin-bottom: 20px;
	font-size: 14px;
}

.btn {
	width: 80%;
	padding: 12px;
	background: #ffa742;
	border: none;
	border-radius: 25px;
	font-size: 17px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
}

.btn:hover {
	background: #ff8a00;
}

.login-text {
	margin-top: 20px;
	font-size: 14px;
}

.login-text a {
	color: #007aff;
	text-decoration: none;
}

.label-email {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 4px;
}

.email-note {
	font-size: 12px;
	color: #555;
	margin-top: -10px;
	margin-bottom: 10px;
	opacity: 0.85;
	text-align: left;
}

.alert {
	width: 100%;
	padding: 12px 2px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	margin-top: 15px;
}


.success-alert {
	background: #d4f8e8;
	border-left: 5px solid #2ac48a;
	color: #046c4e;
}


.error-alert {
	background: #ffe1e1;
	border-left: 5px solid #ff4b4b;
	color: #a80000;
}

.input-error {
	border: 1px solid #ff4b4b !important;
	background: #fff5f5;
}

.input-error:focus {
	border: 1px solid #ff0000 !important;
}

.terms-btn {
	margin-left: 8px;
	font-size: 12px;
	background: none;
	border: none;
	color: #007bff;
	cursor: pointer;
	text-decoration: underline;
}

.terms-modal {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.terms-content {
	background: #fff;
	padding: 20px;
	width: 90%;
	max-width: 400px;
	border-radius: 8px;
	display: block;
}

.terms-content .btn {
	display: block;
	margin: 20px auto 0;
	/* center ngang */
}

.terms-warning {
	color: #d93025;
	/* đỏ cảnh báo */
	font-weight: bold;
	margin-top: 16px;
	border: 1px solid #d93025;
	padding: 10px;
	border-radius: 6px;
	background-color: #fff5f5;
}