<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Create Task</title>

    <link th:href="@{/css/add-task.css}" rel="stylesheet" />
  </head>

  <body>
    <form
      class="task-form"
      method="post"
      th:action="@{/edit-task}"
      th:object="${task}"
    >
      <h2 id="formTitle">📝 タスク編集</h2>
      <input type="hidden" th:field="*{id}" name="id" />
      <label
        >タイトル
        <input
          id="title"
          type="text"
          name="title"
          th:field="*{title}"
          placeholder="Re-enter title!..."
      /></label>

      <label
        >コンテンツ
        <textarea id="content" name="content" th:field="*{content}"></textarea>
      </label>

      <label>
        日時<input
          id="date"
          type="datetime-local"
          name="dateTime"
          th:field="*{dateTime}"
      /></label>

      <div class="btn-area">
        <button class="back-btn"><a th:href="@{/}">⬅戻る</a></button>
        <button class="save-btn" type="submit">保存</button>
      </div>
    </form>
  </body>
</html>
