<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ログイン | TodoList</title>
	<link rel="stylesheet" href="../static/login.css">
</head>

<body>
	<div class="container">

		<div class="card">
			<h1 class="title">ログイン</h1>

			<form id="loginForm">

				<div class="input-group">
					<div class="icon">✉️</div>
					<input type="text" id="email" placeholder="メールアドレス" required>
				</div>

				<div class="input-group">
					<div class="icon">🔑</div>
					<input type="password" id="password" placeholder="パスワード" required>
				</div>

				<div class="agree">
					<input type="checkbox" id="agree">
					<label>利用規約に同意する</label>
				</div>

				<button type="submit" class="btn">ログイン</button>

				<div id="errorMsg" class="alert error-alert" style="display:none;">
					⚠️ 入力内容をご確認ください。
				</div>
				<p class="login-text">
					新規登録はこちら
					<a href="register.html">登録</a>
				</p>

			</form>
		</div>

	</div>

	<script>
		document.getElementById("loginForm").addEventListener("submit", function (event) {
			event.preventDefault();

			const email = document.getElementById("email");
			const password = document.getElementById("password");
			const agree = document.getElementById("agree");

			const errorMsg = document.getElementById("errorMsg");
			errorMsg.style.display = "none";

			// Thêm điều kiện !agree.checked
			if (email.value.trim() === "" ||
				password.value.trim() === "" ||
				!agree.checked) {

				errorMsg.style.display = "block"
				return;
			}

			alert("ログイン成功！ (Fake Test)");
		});
	</script>

	</script>

</body>

</html>